/** @format */

:root {
  --nc-logo-size: 48px;
  --nc-logo-td: 4s;
  --nc-logo-ttf: ease-in-out;
  --nc-logo-l1: rgb(var(--nc-c-warning));
  --nc-logo-l2: rgb(var(--nc-c-success));
  --nc-logo-l3: rgb(var(--nc-c-brand));
  --nc-logo-l4: rgb(var(--nc-c-danger));
}
