:root {
    // FONT SIZE
    --nc-fs-small_caption: 12px;
    --nc-fs-caption: 14px;
    --nc-fs-small_p: 18px;
    --nc-fs-p: 16px;
    --nc-fs-h4: 20px;
    --nc-fs-h3: 24px;
    --nc-fs-h2: 28px;
    --nc-fs-h1: 32px;
}
