:root {
    // FONT WEIGHT
    .fw-light {
        font-weight: var(--nc-weight-light);
    }
    .fw-regular {
        font-weight: var(--nc-weight-regular);
    }
    .fw-medium {
        font-weight: var(--nc-weight-medium);
    }
    .fw-bold {
        font-weight: var(--nc-weight-bold);
    }
}
